---

name: CI tasks

on: [push, pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9, "3.10", "3.11"]
        exclude:
          # For some reason it thinks deps don't install on 3.7 windows
          - os: windows-latest
            python-version: "3.7"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install deps
        shell: bash
        env:
          VENVSTARTER_ONLY_MAKE_VENV: "1"
        run: python ./tools/venv

      - name: Run tests
        shell: bash
        run: ./test.sh -v
